@media (min-width: 200px) and (max-width: 700px) {
    
    .image--responsive {
        width: 100%;
        height: 100%;
        /* border-radius: 10px; */
    }

    /* ======================================== HOMEPAGE =========================================== */
    

    /*======================================= NAVIGATION ============================================*/
    .main-navigation {
        position: fixed;
        bottom: 0;
        left: 0;

        background: white;
        width: 100%;
        z-index: 1;
    }

    .meditech-logo {
        display: none;
    }

    .navigation-image {
        width: 25px;
        height: 25px;
    }

    .navigation-unordered-list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;

        grid-template-areas: 
            "home contact about"
        ;
        text-align: center;
        font-family: var(--poppins-medium);
    }

    .grid-item-1 {
        grid-area: home;
    }

    .grid-item-2 {
        grid-area: contact;
    }

    .grid-item-3 {
        grid-area: about;
    }

    /*========================================= PRODUCT ===============================================*/
    .main-area--layout {
        margin-top: 0;
        margin-bottom: 2em;

        padding: var(--layout-padding);
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: .05fr .5fr .35fr 1fr;
       
        grid-template-areas:
            "header header header header"
            "cat-image cat-image cat-image cat-image"
            "summary summary summary summary"
            "product-table product-table product-table product-table"
    
        ;
        gap: 20px;
        overflow: hidden;
    }

    .product-header {
        grid-area: header;
        font-family: var(--poppins-medium);
        font-size: 2rem;
        padding: 1em;
    }
    
    .article-summary {
        grid-area: summary;
        padding: 2em;
    }
    
    .product-cataloge {
        grid-area: cat-image;
    
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;

        grid-template-areas:
            "top top top top"
            "middle middle middle middle"
            "lower lower lower lower"
        ;
    
        padding: var(--layout-padding);
        gap: 20px;
    }

    .image-1--layout-top {
        grid-area: top;
        width: 100%;
        height: 100%;
    }

    .image-2--layout-middle {
        grid-area: middle;
    }

    .image-3--layout-low-middle {
        grid-area: low-middle;
    }

    .image-4--layout-lower {
        grid-area: lower;
    }
    
    .description-table {
        grid-area: product-table;
    }
    
}