* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

/*======================================== REUSABLE-UTILITY ====================================================*/

/*================ FONT-SIZES ========================*/
.font-size--large {
    font-size: large;
}

.font-size--medium {
    font-size: clamp(0.9rem, calc(0.9rem + ((1vw - 0.32rem) * 1.0096)), 3rem);
}

.font-size--small {
    font-size: clamp(0.5rem, calc(0.5rem + ((1vw - 0.16rem) * 0.641)), 2rem);
}

.font-size--extra-large {
    font-size: clamp(2rem, calc(2rem + ((1vw - 0.32rem) * 3.3654)), 9rem);
}

/*================ FONT-WEIGHTS ========================*/
.font--light {
    font-weight: 300;
}

.font--normal {
    font-weight: 400;
}

.font--bold {
    font-weight: 700;
}

/*================ FONT-ALIGNMENT ========================*/
.font-alignment--center {
    text-align: center;
}

.font-alignment--left {
    text-align: left;
}

.font-alignment--right {
    text-align: right;
}

/*================ FONT-ALIGNMENT ========================*/
.link-underline--no-underline {
    text-decoration: none;
}

.link-bullet--no-bullet {
    list-style: none;
}

/*================ FONT-COLOR ========================*/
.font-color--white {
    color: white;
}

.font-color--black {
    color: black;
}

/*================ MARGIN UTILS ========================*/
.margin-alignment--right {
    margin-left: auto;
}

.margin-alignment--left {
    margin-right: auto;
}

.margin-alignment--center-element {
    margin-left: auto;
    margin-right: auto;
}

/*================ IMAGES ========================*/

.image--responsive {
    width: 100%;
    height: auto;
    border-radius: 10px;
}


/*================ FONT-FACES ========================*/
@font-face {
    font-family: google-poppin-regular;
    src: url("../fonts/googles-popins-font/Poppins-Regular.woff");
}

@font-face {
    font-family: google-poppin-medium;
    src: url("../fonts/googles-popins-font/Poppins-Medium.woff");
}

@font-face {
    font-family: google-poppin-bold;
    src: url("../fonts/googles-popins-font/Poppins-SemiBold.woff");
}


/*================ TABLE STYLES ========================*/

.table-border--collase {
    border-collapse: collapse;
}

.table-data--left-border {
    border-left: var(--table-border-color);
}

.table-data--right-border {
    border-right: var(--table-border-color);
}

.table-row--padding {
    padding: clamp(0.5rem, calc(0.5rem + ((1vw - 0.0005rem) * 52.6316)), 1rem);
}

.table-text--padding {
    padding: clamp(0.5rem, calc(0.5rem + ((1vw - 0.0005rem) * 52.6316)), 1rem);
}

.row-border--top {
    border-top: 1px solid black;
}

.row-border--below {
    border-bottom: 1px solid black;
}

.row-border--all-round {
    border: 1px solid black;
}

.table-data-border--left {
    border-left: 1px solid black;
}


/*================ PADDING ========================*/
.all-round--top-right-bottom-padding {
    padding-top: clamp(0.6em, calc(0.6rem + ((1vw - 0.0005em) * 42.1053)), 1em);
    padding-right: clamp(0.6em, calc(0.6rem + ((1vw - 0.0005em) * 42.1053)), 1em);
    padding-bottom: clamp(0.6em, calc(0.6rem + ((1vw - 0.0005em) * 42.1053)), 1em);
}


/*================ ANIMATIONS ========================*/
@keyframes slide-in-from-right{
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes appear{
    from {
        transform: scale(0);
        opacity: 0;
    }
    to {
        transform: scale(100%);
        opacity: 1;
    }
}


/*================ REUSABLE VARIABLES ========================*/
:root {
    --gradient-background: linear-gradient(45deg, hsl(240, 100%, 32%), hsl(202, 100%, 50%), hsl(216, 100%, 50%));
    --white-gradient-overlay: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 79%, rgba(255,255,255,0) 100%);
    --black-white-gradient: linear-gradient(hsl(0, 0%, 0%), hsl(0, 0%, 22%), hsl(0, 0%, 0%));

    --border-radius: 10px;
    --layout-padding: clamp(1em, calc(1rem + ((1vw - 0.32em) * 2.4038)), 6em);
    
    --link-top-padding: 2em;


    --poppins-regular: google-poppin-regular;
    --poppins-medium: google-poppin-medium;
    --poppins-large-bold: google-poppin-bold;
    
    
    --responsive-font-screen-size-button: clamp(0.4rem, calc(0.4rem + ((1vw - 0.32rem) * 0.7692)), 2rem);
}


/*========================================== Navigation ===========================================================*/
@media (min-width: 700px) {
    .main-navigation {
        display: flex;
        justify-content: space-evenly;
        position: fixed;
        top: 0;
        left: 0;
        background: white;
        width: 100%;
        z-index: 1;
    }

    .navigation-unordered-list {
        display: flex;
        gap: 120px;
        font-family: var(--poppins-regular);
        padding-bottom: 1em;
    }

    .meditech-logo {
        width: 150px;
        height: 60px;
    }

    .navigation-image {
        display: none;
    }
}

/*======================================== PRODUCT HOME SECTION ====================================================*/

.home-section {
    margin-top: 4em;
    height: 100vh;
    padding: var(--layout-padding);

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
    grid-template-areas:
        "text-area text-area hero-image hero-image"
        "text-area text-area hero-image hero-image"
        "logos logos logos logos"
    ;
}

.text-area {
    grid-area: text-area;
}

.hero-section__image {
    grid-area: hero-image;
    width: 100%;
    height: 100%;
    border-radius: var(--border-radius);
}

.companies-trusted__logos {
    grid-area: logos;
    display: flex;
    gap: 2em;
    flex-wrap: wrap;

    filter: grayscale();
    width: 100%;
    height: auto;
}

.logo-image {
    width: 100px;
    height: 90px;
}

.home-section__heading {
    font-family: var(--poppins-large-bold);
}

.section-text--left-border {
    border-left: 3px solid blue;
    padding-left: 1em;
}

.home-section__paragraph {
    margin-top: 1em;
    margin-bottom: 5em;
    font-family: var(--poppins-medium);
    letter-spacing: 1px;
}

.trust-text--gradient-color {
    background: -webkit-linear-gradient(hsl(240, 100%, 23%), hsl(202, 100%, 55%) ,hsl(219, 100%, 50%));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.shop-now__button {
    background: blue;
    margin-top: 5em;
    padding: 1em;
    font-family: var(--poppins-medium);
    font-size: 1rem;
    border-radius: 5px;
}

/* =============================================== PRODUCT SECTION ========================================================= */

.main-section {
    padding: var(--layout-padding);
}

.main-section__heading {
    font-family: var(--poppins-medium);
}

.main-product__section {
    display: grid;
    grid-template-columns: 1fr .8fr;
    grid-template-rows: .5fr .4fr 1fr;
    gap: 20px;
    grid-template-areas:
        "davinci bed-scanner"
        "tube-tester kelpo"
        "pack ..."
    ;
}

.davinci-bot {
    grid-area: davinci;
    border-radius: var(--border-radius);
}

.bed-scanner {
    grid-area: bed-scanner;
    border-radius: var(--border-radius);
}

.tube-tester{
    grid-area: tube-tester;
    border-radius: var(--border-radius);
}

.storage-bot {
    grid-area: kelpo;
    border-radius: var(--border-radius);
}

.surgical-pack {
    grid-area: pack;
    border-radius: var(--border-radius);
}

.image--gradient-background {
    background: linear-gradient(90deg, hsla(0, 0%, 29%, 0.678), hsl(0, 0%, 85%));
}

/*======================================== ABOUT US ====================================================*/

.section--grid-layout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "text-area grid-image"
        "text-area grid-image"
    ;

    gap: 20px;
    padding: var(--layout-padding);
}

.about-section__head {
    padding: var(--layout-padding);
    font-family: var(--poppins-medium);
}

.grid-text__area {
    grid-area: text-area;
}

.grid-text-area__header {
    font-family: var(--poppins-regular);
    margin-bottom: 1em;
}

.grid-text-area__paragraph {
    font-family: var(--poppins-regular);
}

.grid-image {
    grid-area: grid-image;
    width: 100%;
    height: 100%;

    border-radius: var(--border-radius);
    box-shadow: 0px 0px 5px hsla(0, 0%, 0%, 0.493);
}

.product--font {
    font-family: var(--poppins-regular);
}

/*====================================================== CONTACT US ====================================*/

.contact-us {
    height: 100vh;
    background-image: url("../abstract-background/abstract-contact.svg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: var(--layout-padding);

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: .2fr 1fr;
    grid-template-areas:
        "header-1 header-1 header-1"
        "header-2 form form"
    ;
}

.contact-us__header-1 {
    grid-area: header-1;
    font-family: var(--poppins-medium);
}

.contact-us__header-2 {
    grid-area: header-2;

    font-family: var(--poppins-regular);
    color: white;
    text-align: center;
    padding-top: 8em;
}

.form {
    grid-area: form;

    color: white;
    font-family: var(--poppins-regular);

    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 8em;
    padding-left: 5em;
    padding-right: 5em;
}

.input-box--remove-border {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid white;
    background: none;
}

.input-text--color {
    color: white;
}