* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    height: 100vh;
    width: 100%;
    border: 1px solid red;
    background: rgb(255, 255, 255);
    overflow-x: hidden;
}

@font-face {
    font-family: poppin-black;
    src: url("../fonts/googles-popins-font/Poppins-Regular.woff");
}

:root {
    --poppin-font-default: poppin-black;
    --product-background-card-color: hsl(231, 10%, 13%);
    --product-card-border-radius: 20px;
}

/*==================== NAVIGATION MENU =========================*/

.ecommerce-images {
    width: 70px;
    margin-top: 10px;
    margin-left: 10px;
    height: auto;
    margin: auto;
}

.ecommerce-cart, .ecommerce-log-in {
    width: 25px;
    height: 25px;
    margin-right: 40px;
    margin-top: .3rem;
}

.medical-logo {
    width: 150px;
    height: 50px;
    margin-right: 150px;
    margin-left: 50px;
    padding-bottom: .5rem;
    
}

.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 auto;
    position: fixed;
    left: 50%;
    right: 50%;
    z-index: 1;
}

.navigation-list--alignment {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 15px;
    font-size: 15px;
    padding-top: 1rem;
}

.navigation-link-list {
    font-family: var(--poppin-font-default);
    letter-spacing: .9px;
    list-style: none;
    background: hsla(0, 0%, 100%, 0.493);
    backdrop-filter: blur(2px);
    border-radius: 1rem;
}
.navigation-linked-list__item {
    text-decoration: none;
}

.navigation-menu-item--right-space {
    margin-right: 15rem;
}

.navigation-menu-item--left-space {
    padding-top: .5rem;
    margin-left: 3rem;
}

/* ================= Reusable Section Styles ====================== */
.border {
    border: 2px solid blue;
}

.section--center-align {
    margin: 0 auto;
}

.section--full-view {
    height: 100%;
    width: auto;
}

.main-title {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 3.5rem;
    margin-bottom: 2rem;
}

.sub-title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.sub-text {
    font-family: var(--poppin-font-default);
    font-size: .9rem;
    letter-spacing: .1ch;
}

.text-alignment--center {
    text-align: center;
}

.extra--top-bottom-margin-space {
    margin-top: 1em;
    margin-bottom: .5em;
}


/* ======================= Widget styles ============================= */
.shop-now-button--top-space {
    margin-top: 100px;
}

.shop-now__button {
    display: inline-block;
    position: relative;
    top: 90px;
    width: 200px;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    background-color: blue;
    color: white;
    font-family: var(--poppin-font-default);
    border-radius: 10px;

    transition-property: font-size, width;
    transition-duration: 150ms;
    transition-timing-function: ease-in-out;
}

/* ========================= HOME SECTION ================================ */
.home-section {
    height: 100vh;
}

.home-section--background {
    background-image: url("../abstract-background/peakpx\ \(1\).jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 100px;

    filter: contrast(1.15);
}

.home-section--gradient {
    position: relative;
    height: 100%;
    width: 60%;
    background: linear-gradient(90deg, hsl(0, 0%, 100%) 0%, hsl(0, 0%, 100%) 60%, hsla(0, 0%, 100%, 0) 100%);
}

.hero-section__article {
    display: inline-block;
    width: 100%;
    position: absolute;
    top: 100px;
    margin: 90px 90px;
}

.sub-text--left-border {
    border-left: 5px solid blue;
    padding-left: 1.2rem;
}


/* ========================= ABOUT SECTION ================================ */

.about-us-section {
    background-image: url("../abstract-background/Presentation1/Slide1.JPG");
    background-repeat: no-repeat;
}

.about-us-section--background-left {
    background-image: url("../abstract-background/Presentation1/Slide2.jpg");
    background-repeat: no-repeat;
}

.about-us-history {
    width: 100%;
    display: flex;
    margin: 5em auto;
}


.about-us__history-text {
    width: 50%;
    margin-bottom: 3em;
}

.about-us__history-header {
    margin-top: 3em;
}

.about-us__history-text, .about-us__history-header {
    margin-left: 10%;
}

.image-of-people-working-together {
    width: 100%;
    height: 50%;
}

.sub-text--size {
    font-size: .8rem;
}

.image-of-people-working-together {
    width: 50%;
    height: 50%;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-right: 5%;
    border-radius: 20px;
    box-shadow: 0px 0px 10px hsl(0, 0%, 25%);
}

.why-choose-us-header-alignment {
    margin: 5em 4em 3em 4em;
    text-align: center;
}

.card-list {
    display: flex;
    justify-content: center;
    height: 50%;
}

.card-list__card {
    border-right: 2px solid hsl(244, 100%, 19%);
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap: 10px;

    padding: 0 2em;
}

.card-list__card:first-child {
    border-left: 2px solid hsl(244, 100%, 19%);
}

.card__image {
    display: block;
    width: 60%;
    height: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    margin-top: 1em;
}

.card__header {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 5em auto;
}

.card__text {
    font-family: var(--poppin-font-default);
    display: inline-block;
    height: 100%;
    padding-bottom: 2em;
}

.card__text--font-size {
    font-size: .80rem;
}

/* ================================ CONTACT SECTION ======================================= */

.contact-us-section {
    height: 100vh;
    background-image: url("../abstract-background/abstract-contact.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50%;
    width: 100%;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
}

.form--adjustments {
    display: flex;
    flex-direction: column;
}

.contact-us--title-top-space {
    margin-top: 2em;
    padding: 2rem;
    color: white;
}

.form-label--color {
    background: none;
    color: white;
}

.form-label--margin-top {
    margin-top: 2em;
}

.input-border--color {
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 2px solid white;
}

.contact-section__header {
    color: white;
}


/*========================= PRODUCT SECTION ===============================*/
.main-content-grid {
    height: 100vh;
    margin: auto 4em;
   
    display: grid;
    grid-template-areas:
        "first-box first-box first-box first-box"
        "first-box first-box first-box first-box"
        "second-box fourth-box third-box third-box"
        "second-box fifth-box fifth-box fifth-box"
        ".......... fifth-box fifth-box fifth-box"
    ;
    gap: 12px;
}

.box-1 {
    grid-area: first-box;

    background-image: url("../products/Card-face/da-vinci-surgical-bot.png");
    background-repeat: no-repeat;
    background-position-x: center;
    border-radius: 20px;

    background-color: hsl(240, 10%, 12%);
}

.box-2 {
    grid-area: second-box;

    padding: 2em;
    text-align: center;
    border-radius: var(--product-card-border-radius);
    background-color: var(--product-background-card-color);

    background-image: url("../products/medicine-storage-bot/robot-front.png");
    background-repeat: no-repeat;
    background-position-x: 90%;
    background-position-y: 100%;
}

.box-3 {
    grid-area: third-box;

    background-image: url("../products/Card-face/0000-32-removebg-preview.png");
    padding: 2em;
    text-align: center;
    background-color: var(--product-background-card-color);
    border-radius: var(--product-card-border-radius);
    background-repeat: no-repeat;
}

.box-4 {
    grid-area: fourth-box;

    background-image: url("../products/Card-face/bed-scanner.png");
    border-radius: var(--product-card-border-radius);
    background-color: var(--product-background-card-color);
    background-size: cover;
    background-repeat: no-repeat;
}

.box-5 {
    grid-area: fifth-box;

    background-image: url("../products/Card-face/soft_tissue_surgical_robot_medtronic_rigged.png");
    border-radius: var(--product-card-border-radius);
    background-color: var(--product-background-card-color);
    background-repeat: no-repeat;
    padding: 4em;
}

.main-content-grid > a {
    text-decoration: none;
}

.sub-title--color {
    color: white;
    font-size: 2rem;
}

.sub-title--alignment {
    width: 25%;
    text-align: left;
    margin: 2em 2em;
}

.sub-title--alignment-kelo-robot-text {
    width: 100%;
    text-align: right;
}

.sub-title--alignment--MIR-bed {
    text-align: center;
    margin-top: 65%;
}

.surgical-soft-tissue-text--alignment {
   width: 100%;
   text-align: right;
}
