* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.screen-view {
    border: 2px solid red;
    height: 100vh;
}


@font-face {
    font-family: roboto-bold;
    src: url("../fonts/Roboto/RobotoCondensed-Bold.woff");
}

@font-face {
    font-family: roboto-medium;
    src: url("../fonts/Roboto/RobotoCondensed-Regular.woff");
}

:root {
    --title-text-font: roboto-bold;
    --sub-text-font: roboto-medium;
    --text-color: hsl(0, 0%, 15%);
}

/* ---- Navigation Section of the webpage ---- */

.meditech-logo {
    width: 80px;
    height: 60px;
    margin-left: 20px;
}

.navigation-section-container {
    display: flex;
    flex-direction: row;
    padding: .5rem;
    border: 1px solid red;
}

.navigation-section--unordered-links-list {
    display: flex;
    width: 100%;
    height: 100%;
    gap: 20px;
    justify-content: flex-end;
    flex-direction: row;
    list-style-type: none;
    text-decoration: none;
    font-family: Helvetica, sans-serif;
    font-weight: bolder;
    letter-spacing: .05em;
    margin-top: 10px;
    margin-right: 20px;
}

.navigation-section__individual-link {
    padding: .5rem;
    text-decoration: none;
    color: var(--text-color);
}

/* ---- Home/Hero section ---- */

.main-content {
    border: 1px solid red;
    /*margin: top, right, bottom, left*/
    height: auto;
}

.home-section {
    border: 1px solid red;
    display: flex;
}

.home-section .home-section--text {
    border: 2px solid blue;
    padding: 1rem;
    font-family: var(--sub-text-font);
    width: 50%;
}

.home-section .home-section--text .home-section--text__header {
    font-size: 2.5rem;
    /*do something later*/
}

.home-section .home-section--text .home-section--text__paragraph {
    margin-top: .9rem;
    font-size: 1rem;
}

.home-section--image {
    border: 2px solid red;
    width: 50%;
    display: flex;
    justify-content: center;
    padding: 1rem;

    background-image: url("../Miscellanious/diamond.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}


