* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*======================================== REUSABLE-UTILITY ====================================================*/

/*================ FONT-SIZES ========================*/
.font-size--large {
    font-size: large;
}

.font-size--medium {
    font-size: medium;
}

.font-size--small {
    font-size: small;
}

.font-size--extra-large {
    font-size: x-large;
}

/*================ FONT-WEIGHTS ========================*/
.font--light {
    font-weight: 300;
}

.font--normal {
    font-weight: 400;
}

.font--bold {
    font-weight: 700;
}

/*================ FONT-ALIGNMENT ========================*/
.font-alignment--center {
    text-align: center;
}

.font-alignment--left {
    text-align: left;
}

.font-alignment--right {
    text-align: right;
}

/*================ FONT-ALIGNMENT ========================*/
.link-underline--no-underline {
    text-decoration: none;
}

.link-bullet--no-bullet {
    list-style: none;
}

/*================ MARGIN UTILS ========================*/
.margin-alignment--right {
    margin-left: auto;
}

.margin-alignment--left {
    margin-right: auto;
}

.margin-alignment--center-element {
    margin-left: auto;
    margin-right: auto;
}

/*================ IMAGES ========================*/

.image--responsive {
    max-width: 100%;
    height: auto;
}


/*================ FONT-FACES ========================*/
@font-face {
    font-family: google-poppin-regular;
    src: url("../../fonts/googles-popins-font/Poppins-Regular.woff");
}

@font-face {
    font-family: google-poppin-medium;
    src: url("../../fonts/googles-popins-font/Poppins-Medium.woff");
}

@font-face {
    font-family: google-poppin-bold;
    src: url("../../fonts/googles-popins-font/Poppins-Bold.woff");
}

/*================ TABLE STYLES ========================*/

.table-border--collase {
    border-collapse: collapse;
}

.table-data--left-border {
    border-left: var(--table-border-color);
}

.table-data--left-border {
    border-right: var(--table-border-color);
}


/*================ ANIMATIONS ========================*/



/*================ REUSABLE VARIABLES ========================*/
:root {
    --border-radius: 20px;
    --table-border-color: 1px solid red;
}





/*======================================== PRODUCT HOME SECTION ====================================================*/
